{% extends 'base.twig' %}

{% block body %}
<!--block-blogs 1-->
<div class="container d-flex justify-content-center">
    <h1 class="mb-3 mt-3 text-center">Welcom to my Blog!</h1>
    <div class="container row">
        <div class="card m-3 pt-3" style="width: 15rem; flex-grow: 1">
            <img src="/public/img/america.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 pt-3" style="width: 15rem; flex-grow: 1">
            <img src="/public/img/america.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 pt-3" style="width: 15rem; flex-grow: 1">
            <img src="/public/img/america.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 pt-3" style="width: 15rem; flex-grow: 1">
            <img src="/public/img/america.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<!--block-blogs 2-->
<div class="container d-flex justify-content-center">
    <div class="container row">
        <div class="card m-3 pt-3" style="width: 15rem; flex-grow: 1">
            <img src="/public/img/america.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 pt-3" style="width: 15rem; flex-grow: 1">
            <img src="/public/img/america.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 pt-3" style="width: 15rem; flex-grow: 1">
            <img src="/public/img/america.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 pt-3" style="width: 15rem; flex-grow: 1">
            <img src="/public/img/america.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
</div>
<!--article 1-->
<div class="container d-flex justify-content-center">
    <div class="container row">
        <div class="card m-3 pt-3 pb-3" style="width: 15rem; flex-grow: 1">
            <div class="article-body">
                <h5 class="card-title">Article title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go to read</a>
            </div>
        </div>
        <div class="card m-3 pt-3 pb-3" style="width: 15rem; flex-grow: 1">
            <div class="article-body">
                <h5 class="card-title">Article title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go to read</a>
            </div>
        </div>
    </div>
</div>
<!--article 2-->
<div class="container d-flex justify-content-center">
    <div class="container row">
        <div class="card m-3 pt-3 pb-3" style="width: 15rem; flex-grow: 1">
            <div class="article-body">
                <h5 class="card-title">Article title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go to read</a>
            </div>
        </div>
        <div class="card m-3 pt-3 pb-3" style="width: 15rem; flex-grow: 1">
            <div class="article-body">
                <h5 class="card-title">Article title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go to read</a>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<footer class="bg-light navbar-expand-lg text-lg-start">
    <!-- Copyright -->
    <div class="text-end p-3 bg-primary">
        © 2022 Copyright:
        <a class="text-dark" href="#">developer</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}